
 input [type='submit'], button, [aria-label]{
    cursor: pointer;
}

#edit-box{
    display: none;
}

.home-images-div {
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items:flex-start;
    flex-wrap: wrap;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(162, 44, 44, 0.5) ;
}